<div class="row col-12">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
              <h1 class="display-4">Edit Post</h1>
              <p class="lead">Changed your mind, did you?</p>
            </div>
          </div>
</div>
<div class = "row">
                <div class="card">
                  <form id ="edit-post-form">
                      <div class="card-header">
                          Post Title
                          <input class="form-control" id="edit-post-title" type="text" placeholder="{{title}}">
                      </div>
                      <div class="card-body">
                          <p>Post Content</p>
                          <textarea class="form-control" id="edit-post-textarea" placeholder="{{body}}"></textarea>
                      </div>
                      <div class="card-footer">
                          <button id="edit-post-save">Save Post</button>
                          <button id="delete-post">Delete Post</button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
<script src="/js/edit-post.js"></script>